.header {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  padding: 15px 0 15px 0;
  border-radius: 40px;
  color: rgb(99, 8, 8);
  box-shadow: 0 15px 25px rgba(175, 18, 18, 0.244);
  background: linear-gradient(rgba(28, 142, 235, 0), 50%, rgba(206, 22, 50, 0.342));
}

svg:hover {
  cursor: pointer;
}
