/* You can add global styles to this file, and also import other style files */
body {
  background: black;
  color: white;
}

a {
  color: rgb(99, 8, 8);
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    color: white;
  }
}
